<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Content/EjemploCSS.css" type="text/css"/>
        <link rel="stylesheet" href="../Content/EjemploCSS.css" type="text/css">
        <link rel="stylesheet" href="../Content/EjemploCSS.css" type="text/css"/>



        <title>Ejemplo1 HTML-CSS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Primera Pagina Web" >
        <meta name="keywords" content="HTML5, CSS3, Web, Diseño Web, UMG">
        <style type="text/css">
            @import '/content/EjemploCSS.css'
        </style>
    </head>
    <body class="body">
        <header class="pageHeader">
            <nav><ul>
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerca De</a></li>
                    <li><a href="#">Contactanos</a></li>          
            </ul></nav>
        </header>
        <div class="Main">
            <div class="content">
                <article class="Top">
                <header>
                    <h2><a href="#">¿Que es HTML5?</a></h2>
                </header>
                    <footer>
                        <h5><i>Posteado el 28/07/2022 por Jhonatan Barrera</i></h5>
                    </footer>
                    <content>
                        <p>
                            Escribir contenido del parrafo en este espacio
                        </p>
                        <p>
                            Escribir contenido del segundo parrafo en este espacio
                        </p>
                    </content>
                </article>
                <article class="Bottom">
                <header>
                    <h2><a href="#">Introducción a CSS3</a></h2>
                </header>
                    <footer>
                        <h5><i>Posteado el 28/07/2022 por Jhonatan Barrera</i></h5>
                    </footer>
                    <content>
                        <p>
                            Escribir contenido del parrafo en este espacio
                        </p>
                        <p>¿Para que sirve CSS3?</p>
                        <p>
                            Escribir contenido del segundo parrafo en este espacio
                        </p>
                    </content>
                </article>
            </div>
            <aside class="top-sidebar">
                <h2>Navegación</h2>
                <ul class="navigation">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Acerca De</a></li>
                    <li><a href="">Contactanos</a></li>                                      
                </ul>
            </aside>
            <aside class="bottom-sidebar">
                <div class="featured">
                    <h2>¿Que es y para qué sirve JavaScript?</h2>
                    <p>Escribir contenido a cerca de Javascript en este espacio</p>
                    <a href="">Leer Mas >></a>
                </div>
            </aside>
        </div>
        <footer class="pageFooter">
            <p>
                Copyright &copy; 2022 - www.jbarrerasystem.com
            </p>
        </footer>
    </body>
</html>
